<app-header></app-header>
<div class="body-content flex flex-column">
  <main class="flex flex-column gap-3 grow">
    <section class="flex gap-2 items-center justify-between">
      <h3 id="title" class="leading-none">All Books</h3>

      <div class="flex gap-1 items-center">
        <button *ngIf="role === 'admin'" class="button icon" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mdo">
          <i class="fa-solid fa-plus plus-btn"></i>
        </button>
      </div>
    </section>

    <section class="flex flex-column gap-2">
      <div class="table-container">
        <table>
          <tr class="no-hover">
            <th><span>ID</span></th>
            <th><span>Book Name</span></th>
            <th><span>Author</span></th>
            <th><span>Genre</span></th>
            <th><span>Publication Year</span></th>
            <!-- <th><span>Available Copies</span></th> -->
            <th><span>Total copies</span></th>
            <th *ngIf="this.role === 'user'"><span>Status</span></th>
            <th *ngIf="this.role === 'admin'"><span>Action</span></th>
          </tr>

          <tr *ngFor="let item of modifiedTableData; let i = index">
            <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.genre }}</td>
            <td>{{ item.publication_year }}</td>
            <!-- <td>{{ item.available_copies }}</td> -->
            <td>{{ item.total_copies }}</td>
            <ng-container *ngIf="this.role === 'user'">
              <td *ngIf="item.borrowed; else borrowButton">
                <button (click)="return(item.book_id)" class="button-13" role="button">
                  Return
                </button>
              </td>
              </ng-container>
              <ng-template #borrowButton>
                <td *ngIf="this.role === 'user'">
                  <button (click)="borrow(item)" class="button-13" role="button">
                    Borrow
                  </button>
                </td>
            </ng-template>

            <td *ngIf="this.role === 'admin'">
              <a (click)="DeleteBook(item._id)">
                <i class="fa-solid fa-trash"></i>
              </a>
              &nbsp;
              <a (click)="UpdateBook(item._id)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
          </table>
      </div>

      <section class="flex items-center justify-between">
        <small class="muted">{{ currentItemsRange }}</small>

        <div class="flex gap-2 items-center">
          <div class="flex gap-05 items-center">
            <input class="input number small" readonly type="number" [value]="currentPage || 1" />
            <small class="muted">/</small>
            <small class="muted">{{ totalPages || 1 }} pages</small>
          </div>

          <div class="flex gap-05 items-center">
            <button class="button icon link" (click)="previousPage()">
              <i class="fa-solid fa-angle-left"></i>
            </button>

            <button class="button icon link" (click)="nextPage()">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  (hidden.bs.modal)="clearFormData()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Books</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="bookForm" [formGroup]="bookForm" enctype="multipart/form-data">
          <!-- Title -->
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" />
            <div *ngIf="
                                                    bookForm.get('title')?.hasError('required') &&
                                                    bookForm.get('title')?.touched
                                                  " class="text-danger">
              Title is required
            </div>
          </div>

          <!-- Author -->
          <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" formControlName="author" />
            <div *ngIf="
                                                    bookForm.get('author')?.hasError('required') &&
                                                    bookForm.get('author')?.touched
                                                  " class="text-danger">
              Author is required
            </div>
          </div>

          <!-- Publication Year -->
          <div class="mb-3">
            <label for="publication_year" class="form-label">Publication Year</label>
            <input type="number" class="form-control" id="publication_year" formControlName="publication_year" />
            <div *ngIf="
                                                    bookForm.get('publication_year')?.hasError('required') &&
                                                    bookForm.get('publication_year')?.touched
                                                  " class="text-danger">
              Publication Year is required
            </div>
            <div *ngIf="
                                                    bookForm.get('publication_year')?.hasError('pattern') &&
                                                    bookForm.get('publication_year')?.touched
                                                  " class="text-danger">
              Publication Year must be a number
            </div>
          </div>

          <!-- Genre -->
          <div class="mb-3" (click)="isGenreDropdownOpen = !isGenreDropdownOpen">
            <label for="genre" class="form-label">Genre</label>
            <select class="form-select" id="genre" formControlName="genre" [class.show-genre-error]="
                                                    isGenreDropdownOpen &&
                                                    bookForm.get('genre')?.hasError('required') &&
                                                    bookForm.get('genre')?.touched
                                                  ">
              <option [disabled]="isGenreDropdownOpen">Select Genre</option>
              <option value="Fiction">Fiction</option>
              <option value="Non-Fiction">Non-Fiction</option>
              <option value="Mystery">Mystery</option>
              <option value="Science Fiction">Science Fiction</option>
              <option value="Fantasy">Fantasy</option>
              <option value="Thriller">Thriller</option>
              <option value="Romance">Romance</option>
              <option value="Other">Other</option>
            </select>
            <div *ngIf="
                                                    isGenreDropdownOpen &&
                                                    bookForm.get('genre')?.hasError('required') &&
                                                    bookForm.get('genre')?.touched
                                                  " class="text-danger">
              Genre is required
            </div>
          </div>

          <!-- Total Copies -->
          <div class="mb-3">
            <label for="total_copies" class="form-label">Total Copies</label>
            <input type="number" class="form-control" id="total_copies" formControlName="total_copies" />
            <div *ngIf="
                                                    bookForm.get('total_copies')?.hasError('required') &&
                                                    bookForm.get('total_copies')?.touched
                                                  " class="text-danger">
              Total Copies is required
            </div>
            <div *ngIf="
                                                    bookForm.get('total_copies')?.hasError('pattern') &&
                                                    bookForm.get('total_copies')?.touched
                                                  " class="text-danger">
              Total Copies must be a number
            </div>
          </div>
          <div>
            <label for="images" class="form-label">Upload Images</label>
            <input type="file" id="images" (change)="onFileChange($event)" formControlName="image">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveBook(bookForm)"
          [disabled]="bookForm?.invalid" [style.cursor]="bookForm?.invalid ? 'not-allowed' : 'pointer'">
          Save Book
        </button>
      </div>
    </div>
  </div>
</div>
