body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}

.account-settings .user-profile {
  margin: 20px 0 40px 0;
    padding-bottom: 40px;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 2rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-settings .user-profile h5.user-name {
  margin: 20px 0 10px 0;
    font-weight: bold;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #9fa8b9;
}

.account-settings .about {
  text-align: center;
    margin: 0 0 15px 0;
      color: #007ae1;
      font-weight: 600;
      font-size: 21px;
}

.account-settings .about h5 {
  margin: 0 0 30px 0;
  color: #007ae1;
  font-weight: bold;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  border-radius: 4px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
  padding: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  border: 0;
  margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: cadetblue;
    padding-bottom: 5px;
  }
  
  .text-primary {
    margin-bottom: 13rem;
    padding-bottom: 25px;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
    font-size: 21px;
    font-weight: 600;
  }
  
  .account-settings p {
    font-size: 0.825rem;
    font-weight: 600;
    color: #9fa8b9;
  }
  
  .update-btn {
    text-align: end;
}
