<app-header></app-header>
<div class="body-content flex flex-column">
  <main class="flex flex-column gap-3 grow">
    <section class="flex gap-2 items-center justify-between">
      <h3 id="title" class="leading-none">All Users</h3>
    </section>

    <section class="flex flex-column gap-2">
      <div class="table-container">
        <table>
          <tr class="no-hover">
            <th><span>ID</span></th>
            <th><span>Full Name</span></th>
            <th><span>email</span></th>
            <th><span>Phone Number</span></th>
            <th><span>Role</span></th>
            <th><span>City</span></th>
            <th><span>state</span></th>
            <th><span>Password</span></th>
            <th><span>Action</span></th>
          </tr>

          <tr *ngFor="let item of tableData; let i = index">
            <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
            <td>{{ item.fName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone ? item.phone : "-" }}</td>
            <td>{{ item.role ? item.role : "-" }}</td>
            <td>{{ item.city ? item.city : "-" }}</td>
            <td>{{ item.state ? item.state : "-" }}</td>
            <td>********</td>
            <td>
              <a (click)="deleteUser(item._id)">
                <i class="fa-solid fa-trash"></i>
              </a>
              &nbsp;
              <a (click)="editUser(item._id)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>
          </table>
      </div>

      <section class="flex items-center justify-between">
        <small class="muted">{{ currentItemsRange }}</small>

        <div class="flex gap-2 items-center">
          <div class="flex gap-05 items-center">
            <input class="input number small" readonly type="number" [value]="currentPage || 1" />
            <small class="muted">/</small>
            <small class="muted">{{ totalPages || 1 }} pages</small>
          </div>

          <div class="flex gap-05 items-center">
            <button class="button icon link" (click)="previousPage()">
              <i class="fa-solid fa-angle-left"></i>
            </button>

            <button class="button icon link" (click)="nextPage()">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>
<!-- your.component.html -->
<!-- Update User Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="UserForm" [formGroup]="UserForm">
          <!-- Full Name -->
          <div class="mb-3">
            <label for="fName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fName" formControlName="fName" [ngClass]="{
                            'is-invalid':
                              UserForm.get('fName')?.invalid &&
                              (UserForm.get('fName')?.touched || isFormTouched)
              }"
              (blur)="onFormControlTouched()"
            />
            <div
              *ngIf="
                UserForm.get('fName')?.hasError('required') &&
                (UserForm.get('fName')?.touched || isFormTouched)
              "
              class="text-danger"
            >
              Full Name is required
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{
                            'is-invalid':
                              UserForm.get('email')?.invalid &&
                              (UserForm.get('email')?.touched || isFormTouched)
              }"
              (blur)="onFormControlTouched()"
            />
            <div
              *ngIf="
                UserForm.get('email')?.hasError('required') &&
                (UserForm.get('email')?.touched || isFormTouched)
              "
              class="text-danger"
            >
              Email is required
            </div>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="*********" />

            <div *ngIf="
                            UserForm.get('password')?.invalid &&
                            (UserForm.get('password')?.touched || isFormTouched)
              "
              class="text-danger"
            >
              Password must be at least 6 characters long
            </div>
          </div>

          <!-- Role -->
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="role" formControlName="role" [ngClass]="{
                            'is-invalid':
                              UserForm.get('role')?.invalid &&
                              (UserForm.get('role')?.touched || isFormTouched)
              }"
              (blur)="onFormControlTouched()"
            >
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
            <div *ngIf="
                            UserForm.get('role')?.hasError('required') &&
                            (UserForm.get('role')?.touched || isFormTouched)
              "
              class="text-danger"
            >
              Role is required
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveUser()" [disabled]="UserForm?.invalid"
          data-bs-dismiss="modal">
          Save User
        </button>
      </div>
    </div>
  </div>
</div>
